
.image{
    width: auto;
    height: 150px;
    background-color: white;
    border: 0.5px solid #FDD76E;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


img{
    width: auto;
    height: 120px;
}

.price{
    width: 70%;
}

.product{
    padding: 10px;
    width: 250px;
    height: auto;
    background-color: #FDF3D8;
    border: 0.5px solid #FDD76E;
    color: black;
    border-radius: 15px;
    display: block;
}

.infos{
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: baseline;
    gap: 10px;
}